# Logs
logs
*.log

# Node.js
node_modules/

# Hexo
#db.json
*.log
*.tmp
*.db
*.sqlite
*.log.*
*.swp
.DS_Store
Thumbs.db

# Output
public/
.deploy*/
.deploy_git/

# Editor directories
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
